/* dimensions for both splash image and the player wrapper */
a.flowplayer, a.flowplayer img {
    display:block;
    border:0px;
    margin-left: auto;
    margin-right: auto;
}

a.flowplayerAudio {
    width:450px;
    height:24px;
}

a.flowplayerVideo {
    width:450px;
    height:350px;
}