/*********************************************************
                ABOUT: graphic.css
**********************************************************/
  /* This stylesheet is used to assign styles to all graphic elements except for:
- menu.css, which is used to structure and style menus
- form.css, which is used to structure and style forms
- layout.css,which is used to structure and style the physical page layout */


/*********************************************************
                SITE HEADER
**********************************************************/
#site-header {
  overflow: hidden;
  padding-top: 5px;
}

#logo {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  overflow: hidden;
}

#logo a:hover,#logo a:link,#logo a:visited,#logo a:active {
  border: 0;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#logo img {
  margin: 0 0 0 0;
}

#site-info {
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  float: left;
  overflow: auto;
}

#website-name {
  font: bold 44px verdana, georgia, garamond, serif;
  letter-spacing: 0.10ex;
  color: #FC6E3C;
  border: 0;
  margin-bottom: 3px;
}

#website-name a:hover,#website-name a:link,#website-name a:visited,#website-name a:active
  {
  text-decoration: none;
  border: 0;
  color: #FC6E3C;
  background-color: transparent;
  line-height: 100%;
}

#website-description {
  color: #04025C;
  font: 12px georgia, garamond, serif;
  margin: 5px 0 0 5px;
  padding: 0;
}

/*********************************************************
                APP VERSION NUMBER
**********************************************************/
.versionNumber {
  float: right;
  color: #999999;
  margin: 1px 2px 0 0;
  background: transparent;
  z-index: 1;
}

/*********************************************************
                GENERAL TEXT STYLING
**********************************************************/
body, .yui-skin-sam .yui-ac
{
  font: normal 11px verdana, lucida, sans-serif;
  color: #000000;
}

/* see also .staticPageContent below */
p {
  margin: 15px 0 0 0;
  text-align: left;
}

img { /* vertical-align: middle; */
  border: 0;
  background-color: transparent;
  text-decoration: none;
}

img.static_page {
  padding: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
}

/*headers*/
h1 {
  font: bold 25px/ 25px Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: #cccccc;
  letter-spacing: -2px;
  padding: 3px 10px 2px 0;
  border: 0;
  margin: 0;
  text-align: right;
}

h1#first {
  font: bold 20px georgia, garamond, serif;
  margin: 15px 0 0 0;
  padding: 2px 2px 2px 4px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  background-color: #006699;
  border-bottom: 1px solid #000066;
  border-top: 1px solid #000066;
}

h1#page-title {
  font: bold 22px georgia, garamond, serif;
  margin: 0 0 10px 0;
  color: #000066;
  background-color: #ff9933;
  border-bottom: 2px solid #000066;
}

h1.search {
  margin-top: 35px;
  padding: 3px 0 3px 5px;
  background-color: #FF9933;
  color: #000000;
  border-top: 2px solid #999999;
  border-bottom: 2px solid #999999;
  font-size: 14px;
}

h2 {
  font: normal 16px/ 18px georgia, garamond, serif;
  font-weight: bold;
  margin: 15px 0 10px 0;
  color: #000066;
}

h2.browseList {
  border-bottom: 2px solid #ff9933;
}

h3 {
  font: normal 14px/ 16px georgia, garamond, serif;
  font-weight: bold;
  margin: 5px 0 0 0;
  padding: 0;
  border: 0;
}

.heading-link {
  font: bold 16px/ 18px georgia, garamond, serif;
  margin: 3px 0 0 0;
  padding: 0 0 3px 0;
}

div.pageTitle {
  font: bold 25px/ 25px Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: #cccccc;
  letter-spacing: -2px;
  padding: 3px 10px 2px 0;
  border: 0;
  margin: 0;
  text-align: right;
}

div.pageTitle:first-letter {
  text-transform: capitalize;
}

/*lists*/
ol li {
  margin: 5px 0 0 0;
}

/* sub-lists in the UI translation list */
.translationList ul {
  padding: 0;
  margin: 0 0 10px 20px;
}

/*links*/
a:link,a:visited,a:active {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #000000;
}

/* Giving hovered-over anchors a solid background does not play nice with YUI's
 * menu because YUI does not override our hovered-over anchor style.  Instead
 * it styles a .yuimenuitem-selected class.  So make an exception for YUI menu
 * items.  Ideally we would make an exception in the above selector, but CSS
 * does not support a "parent" selector.  See discussion on css-discuss list. */
.yuimenuitem a:hover {
  background: transparent;
}

/*line*/
.line {
  width: 100%;
  border-bottom: 2px solid #a5bcca;
}

/*disabled element*/
.disabled {
  background-color: #CCC;
  color: #666;
}

button.delete-small {
  background: transparent url('../images/delete.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  width: 16px;
  height: 16px;
  border: none;
  vertical-align: top;
}

.required_field:after {
  content: '*';
}

/*********************************************************
                SEARCH/BROWSE RESULTS LIST
**********************************************************/
#search-info {
  font-weight: bold;
  margin: 20px 0 20px 0;
}

#search-results {
  padding: 10px 3px 10px 3px;
}

#search-results table {
  width: 90%;
  border: 0;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.search-result-number {
  width: 40px;
  text-align: right;
  padding: 5px 0 5px 0;
  background-color: transparent;
  border-bottom: solid 1px #999999;
}

.search-result {
  text-align: left;
  padding-left: 5px;
  background-color: transparent;
  border-bottom: solid 1px #999999;
}

.search-results-page-number {
  width: 10px;
  text-align: center;
  font: normal 14px/ 17px verdana, lucida, sans-serif;
  margin: 3px;
  float: left;
  border: 1px solid #999999;
  background: #ccccff;
}

.search-results-page-number a {
  text-decoration: none;
  color: #000000;
  background: #ccccff;
}

.search-results-page-number a:visited {
  text-decoration: none;
  color: #000000;
  background: #ccccff;
}

.search-results-page-number a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #000000;
}

.search-results-page-number-current {
  width: 10px;
  text-align: center;
  font: normal 14px/ 17px verdana, lucida, sans-serif;
  margin: 3px;
  float: left;
  border: 1px solid #999999;
  background: #dddddd;
}

.search-results-page-button {
  float: left;
  padding-top: 2px;
}

#search-results-summary {
  float: left;
  margin-left: 10px;
  padding-top: 3px;
}

/*********************************************************
                SEARCH FORM - ADVANCED
**********************************************************/
#search-form table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

#search-form td {
  border: 0;
  vertical-align: center;
}

#search-form .textbox {
  background-color: #FFFFFF;
  border: 2px solid #a3a3a3;
  width: 500px;
  padding: 0 3px 3px 3px;
  margin: 0 0 0 10px;
  font: bold 20px Verdana, Arial, Sans-Serif;
  float: left;
}

#search-form .form-submit {
  height: 30px;
  font: 15px Verdana, Arial, Sans-Serif;
  margin: 0 5px 0 5px;
  width: 100px;
}

#search-form .form-submit:hover {
  height: 30px;
  font: 15px Verdana, Arial, Sans-Serif;
  margin: 0 0 0 5px;
  width: 100px;
}

/*********************************************************
              DETAIL (SHOW/EDIT) TABLES
**********************************************************/
table.detail {
  width: 99%;
  margin: 0 0 50px 0;
  /*border-collapse: collapse;*/
  overflow: hidden;
  border: 0x solid #999999;
  font: normal 11px/ 14px verdana, lucida, sans-serif;
  color: #000000;
}

table.detail tr {
  vertical-align: top;
}

table.detail td {
  border: 0;
  border-bottom: 1px solid #cccccc;
  padding: 4px;
  font-weight: normal;
}

table.detail th {
  padding: 4px;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
  width: 30%;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  border-left: 0;
  border-top: 0;
  background-color: #a0a9bc;
  color: #ffffff;
}

table.detail label {
  color: #ffffff;
  text-align: right;
  display: inline;
}

table.detail th:first-letter {
  text-transform: capitalize;
}

table.detail td.headerCell {
  padding: 4px;
  vertical-align: top;
  text-align: left;
  font: bold 18px/ 18px georgia, verdana, sans-serif;
  border: 0;
  border-bottom: 1px solid #999999;
  border-top: 2px solid #999999;
  color: #000033;
  background-color: #FF9D3C;
  height: 20px;
}

table.detail td.headerCell a {
  color: #000000;
  background-color: #FF9D3C;
}

table.detail td.headerCell a:hover {
  color: #ffffff;
  background-color: #000000;
}

table.detail td.headerCell-name {
  border: 0;
  border-bottom: 1px solid #333333;
  background-color: #006699;
  color: #ffffff;
  padding: 4px;
  vertical-align: top;
  text-align: center;
  font: bold 16px/ 17px verdana, lucida, sans-serif;
}

table.detail td.subHeaderCell {
  font-weight: bold;
  color: #999999;
}

table.detail td ul {
  padding: 0 16px;
  margin: 0;
}

table.detail td ul li {
  padding: 0px;
  margin: 0px;
}

/* create a headercell div to match style/use but without a table */
.headerCell {
  padding: 4px;
  vertical-align: top;
  text-align: left;
  font: bold 18px/ 18px georgia, verdana, sans-serif;
  border: 0;
  border-bottom: 1px solid #999999;
  border-top: 2px solid #999999;
  color: #000033;
  background-color: #FF9D3C;
  height: 20px;
}

/*********************************************************
              INLINE TABLES
**********************************************************/
table.inline {
  width: 100%;
  border: 0;
}

table.inline caption {
  color: #999;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}

table.inline td.headerCell,
table.inline th {
  border: none;
  background-color: #cccccc;
  color: #ffffff;
  font: bold 10px verdana, lucida, sans-serif;
  font-weight: bold;
  text-align: left;
  width: 15%;
}

table.inline td.headerCell label,
table.inline th label
{
  color: #ffffff;
}

table.inline thead tr {
  vertical-align: bottom;
}

table.inline tr {
  vertical-align: top;
  border: none;
}

table.inline td {
  border: none;
  border-top: 1px solid #cccccc;
  text-align: left;
}

table.inline td.noline {
  border: none;
}

table.inlineClear {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

table.inlineClear tr {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

table.inlineClear th {
  text-align: left;
  border: none;
  width: 30%;
  background: transparent;
}

table.inlineClear td {
  width: 70%;
  text-align: left;
  border: none;
  background: transparent;
}

/*********************************************************
              NOTE SPAN
**********************************************************/
span.note {
  font-size: 9px;
  font-style: italic;
  margin-left: 10px;
}

span.note2 {
  color: #999;
}

/*********************************************************
              LIST TABLES
**********************************************************/
table.list {
  width: 99%;
  margin: 0;
  /*border-collapse: collapse;*/
  overflow: hidden;
  border: 0x solid #000066;
  font: normal 11px/ 14px verdana, lucida, sans-serif;
  color: #000000;
}

table.list caption {
  font: bold 25px/ 25px Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: #cccccc;
  letter-spacing: -2px;
  padding: 3px 10px 2px 0;
  border: 0;
  margin: 0;
  text-align: right;
}

table.list th:first-letter {
  text-transform: capitalize;
}

table.list thead tr {
  border-left: 2px solid #999999;
}

table.list ul {
}

table.list tr {
}

table.list td {
  padding: 4px 4px 4px 10px;
  text-align: left;
  border-spacing: 20px;
  border: 0;
  border-bottom: 1px solid #cccccc;
  vertical-align: top;
}

table.list td.center {
  padding: 4px;
  text-align: center;
}

table.list ul.nobullet {
  padding: 0px;
  margin: 0px;
}

table.list ul.nobullet li {
  padding: 0px;
  margin: 0px;
  background-image: none;
}

table.list th {
  border: 1px solid #999999;
  background-color: #ff9933;
  color: #000000;
  padding: 4px 4px 4px 10px;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
}

table.list th.center {
  padding: 4px;
  text-align: center;
}

table.list th.header {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #000000;
  padding: 4px 4px 4px 10px;
  font-weight: bold;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
}

.tableHeader {
  width: 99%;
  background: #6992AF;
  font-weight: bold;
  font-size: 110%;
  padding: 5px 0 5px 10px;
  border: 1px solid #999999;
  margin-top: 10px;
}

.translationTableHeader {
  width: 97%;
  background: #FFD700;
  font-weight: bold;
  font-size: 110%;
  padding: 5px 0 5px 10px;
  border: 1px solid #999999;
  margin-top: 10px;
}

table.list td.headerCell {
  border: 0;
  border-bottom: 1px solid #999999;
  background-color: #eeeeee;
  color: #000000;
}

table.list td.headerCell-name {
  border: 0;
  border-bottom: 1px solid #999999;
  background-color: #006699;
  color: #ffffff;
}

table.list th a {
  color: #000000;
  padding: 0;
  margin: 0;
}

table.list th a:visited {
  color: #000000;
  padding: 0;
  margin: 0;
}

table.list th a:active {
  color: #000000;
  padding: 0;
  margin: 0;
}

table.list th a:hover {
  color: #ffffff;
}

table.list td.headerCell {
  padding: 4px;
  vertical-align: top;
  text-align: center;
}

table.list td.headerCell-name {
  padding: 4px;
  vertical-align: top;
  text-align: center;
  font: bold 16px/ 17px verdana, lucida, sans-serif;
}

.th-link {
  font-weight: normal;
}

.th-link a:before {
  content: "(";
}

.th-link a:after {
  content: ")";
}

.th-link a:hover {
  color: #ffffff;
  background: #000000;
}

.plus {
  background-image: url('../images/tree_plus.gif');
  background-repeat: no-repeat;
  background-position: top left;
}

table.list td ul {
  padding: 0 0 0 16px;
  margin: 0;
}

table.list td ul li {
  padding: 0px;
  margin: 0px;
}

/*********************************************************
               TABLE FILTER
**********************************************************/

div.table-control {
  border: 1px #aaa solid;
  margin: 3px 0px;
  padding: 3px;
  background: #eee;
}

/*********************************************************
                STATIC PAGE
**********************************************************/
.staticPageContent {
  font: normal 14px/ 16px verdana, lucida, sans-serif;
  margin-top: 5px;
}

.editLink {
  margin-top: 15px;
  color: #999999;
}

.editLink a {
  color: #999999;
}

.editLink a:before {
  content: "[";
}

.editLink a:after {
  content: "]";
}

/*********************************************************
                CAPITALIZATION
**********************************************************/
.firstLetter:first-letter {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/*********************************************************
             DIGITAL OBJECT THUMBS
**********************************************************/
table.digitalObjectBrowse {
  border: 1px solid black;
  background-color: #eee;
  height: 100%;
  width: 98%;
  border-collapse: separate;
}

td.digitalObjectBrowse {
  margin: 0px;
  padding: 0px;
  width: 102px;
  text-align: center;
  vertical-align: top;
  color: black;
  background-color: #eee;
  border: 0px;
}

div.digitalObject {
  float: left;
  margin: 5px;
  padding: 5px;
  height: auto;
  width: 102px;
  text-align: center;
  color: black;
  display: table-cell;
  background-color: #eee;
}

div.digitalObjectRep {
  height: 102px;
  width: 102px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  border: 1px black solid;
  display: table-cell;
}

.digitalObjectDesc {
  height: auto;
}

div.digitalObjectDesc img {
  float: right;
}

div.multiFileUpload
{
  border: 1px solid #bbb;
  padding: 2px;
  margin: 2px 2px 12px 2px;
  overflow: auto;
}

/*********************************************************
             PAGER
**********************************************************/
.result-count {
  text-align: center;
  color: #999999;
  margin-top: 10px;
}

.pager {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.pager a {
  border: 1px solid #CCCCCC;
  padding: 2px 4px 2px 4px;
}

/* Style modifications for compound digital object pager */
.pager.compound_digiobj {
  margin-top: 0;
}

.result-count.compound_digiobj {
  margin: 0 0 5px 0;
}

/* Modifications to pager for display in context menus */
.contextMenu .pager
{
  border-top: 1px dotted #999;
  margin: 0;
  padding: 10px 2px;
  font-size: 10px;
}

/*********************************************************
             COMPOUND DIGITAL OBJECT TABLE
**********************************************************/

table.compound_digiobj {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}

table.compound_digiobj td {
  border: 1px solid black;
  width: 50%;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  background: #666;
}

table.compound_digiobj td.download_link {
  border: none;
  background: white;
  padding: 2px;
}

/*********************************************************
             ERRORS
**********************************************************/

div.error-block
{
  margin: 10px;
  font: bold 18px/19px georgia, serif;
}

ul.error-list
{
  padding: 0 0 0 30px;
  margin: 2px 6px 0.1em 0;
  background: none;
  color: #a30000;
  background-color: #FFCCCC;
  border: 1px solid #c52020;
  list-style: url(../images/exclamation.png) outside;
}

ul.error-list li
{
  padding: 0;
  margin: 5px 0;
}

ul.validation_error
{
  padding: 1px;
  margin: 2px 6px 0.1em 0;
  background: none;
  color: #a30000;
  background-color: #FFCCCC;
  border: 1px solid #c52020;
}

ul.validation_error li
{
  background: url(../images/exclamation.png) no-repeat 1px;
  padding: 0.1em 0.1em 0.1em 20px;
  margin: 0;
}

/*********************************************************
             FLASHES
**********************************************************/

div.flash_notice
{
  background-color: #cfc;
  border: 1px solid #ada;
  padding: 5px;
  color: #060;
  font: bold 14px georgia, serif;
}


/*********************************************************
             LOGOS
**********************************************************/

.logos
{
  position: fixed;
  bottom: 7px;
  right: 10px;
  z-index: 90;
}
