img.imageflow {
	border: 1px #999 solid;
	position: absolute;
}
.clear{
	clear:both;
}
#imageflow_images{
	visibility:hidden;
}
#imageflow_loading{
	margin-top:50px;
	text-align:center;
	width:100%;
}
#imageflow_loading img{
	margin-top:10px;
	position:relative;
}
#imageflow_captions{
	font-weight:bold;
	position:relative;
	top: 15px;
	text-align:center;
	z-index:10000;
}
#imageflow_scrollbar{
	visibility:hidden;
	position:relative;
	top: -10px;
	border-bottom:1px solid black;
	z-index:10001;
}
#imageflow_slider{
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	z-index:10002;
	background-image:url('../images/imageflow/slider.png');
	background-repeat:no-repeat;
	width:14px;
	height:14px;	
}
#imageflow{
	text-align:left;
}

/* Extra div to get ie7 to postion images properly */
#imageflow_iewrapper {
	position: relative;
}