/*********************************************************
                ABOUT: layout.css
**********************************************************/

/* This stylesheet is used to structure and style the physical page layout
 of webpages into specific blocks (e.g. header, footer, content-columns, etc.).
 form.css is used to structure and style input forms.
 menu.css is used to structure and style menus.
 graphic.css is used to assign styles to all other graphic elements.


The high-level page layout for the Qubit application is:

    ------------------------------------------------
    |   body (html body)                           |
    |----------------------------------------------|
    |  body-banner-top                             |
    |----------------------------------------------|
    |  -----------------------------------------   |
    |  | body-page                             |   |
    |  |                                       |   |
    |  |  ---------------------------------    |   |
    |  |  |            header             |    |   |
    |  |  ---------------------------------    |   |
    |  |                                       |   |
    |  |  ---------------------------------    |   |
    |  |  | main                          |    |   |
    |  |  |                               |    |   |
    |  |  |  ---------   ---------------  |    |   |
    |  |  |  |context|   |  content    |  |    |   |
    |  |  |  |column |   |  two-column |  |    |   |
    |  |  |  ---------   ---------------  |    |   |
    |  |  |                               |    |   |
    |  |  |  ---------------------------  |    |   |
    |  |  |  |        content          |  |    |   |
    |  |  |  |       one-column        |  |    |   |
    |  |  |  |                         |  |    |   |
    |  |  |  ---------------------------  |    |   |
    |  |  ---------------------------------    |   |
    |  |                                       |   |
    |  |  ---------------------------------    |   |
    |  |  |              footer           |    |   |
    |  |  ---------------------------------    |   |
    |  -----------------------------------------   |
    |----------------------------------------------|
    |  body-banner-bottom                          |
    |----------------------------------------------|
    |______________________________________________|



/*********************************************************
                      BODY
**********************************************************/

body 	{
/*ensure that IEv5 will center align the body-page block*/
text-align: center;
margin: 0;
padding: 0;
background-color: #ffffff;
}

#body-banner-top {
width: 100%;
height: 10px;
}

#body-banner-bottom{
width: 100%;
height: 10px;
text-align: right;
}

#body-page {

/*relative width (minimum width not included because it is too buggy cross-browser)

width: 95%;  */

width: 770px;

/*use auto width on left and right margins to center align the body content*/
margin: 0 auto 0 auto;

/*realign content to the left to offset the body centering hack used for IEv5 in the 'body' element above*/
text-align: left;

background-color: #ffffff;
}

/*********************************************************
               HEADER
**********************************************************/

#header {
background-color: #ffffff;
padding: 0;
text-align: left;
border: 0;
margin: 0 0 25px 0;
}

#header-top {
background-color: #ffffff;
padding: 5px 0 10px 0;
text-align: right;
border: 0;
margin: 0;
}

#header-middle {
clear: both;
border-bottom: 0;
padding: 0;
margin: 0;
padding: 0 0 15px 0;
border-bottom: 1px solid #999999;
}

#header-bottom {
clear: both;
background-color: #ffffff;
border: 0;
padding: 0;
margin: 0;
}

/*********************************************************
             MAIN
**********************************************************/

#main {
clear: both;
margin: 0 0 10px 0;
padding: 0;
border: 0;
}

/* to switch the context-column left/right swap the values for
#context-column float and the #content-two-column padding */

#context-column {
clear: both;
float: right;
width: 240px;
background-color: #ffffff;
padding: 0;
margin: 33px 0 0 0;
border: 0;

}

.context-column-box {
width: 235px;
padding: 2px;
margin: 0 0 20px 0;
clear: both;

background-color: #ffffff;
border: 1px solid #999999;
}

#content-two-column
{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
background-color: #ffffff;
width: 510px;

}

#content-one-column
{
margin: 0 0 10px 0;
padding: 0;
border: 0;
overflow: hidden;

background-color: #ffffff;
}

.content-column-box {
border: 0;
padding: 0;
margin: 0 0 10px 0;
clear: both;

background-color: #ffffff;
}


/*********************************************************
              FOOTER
**********************************************************/

#footer {
clear:both;
margin: 20px auto 0 auto;
}

#footer-top {
clear: both;
border: 0;
height: 0px;
background: #ffffff;
margin: 0;
}

#footer-bottom {
background: #ffffff;
text-align: right;
margin-top: 20px;
}

#footer-bottom a:hover {
background-color: #000000;
}

