/* Override Drupal's background */

body,
#wrapper,
#wrapper #container #center #squeeze,
#wrapper #container #center .right-corner,
#wrapper #container #center .right-corner .left-corner
{
  background: white;
}

/* hide logo text */

#wrapper #container #header h1 div
{
  display: none;
}

/* Drop decoration, margin, and padding from lists in the context menu */
/* FIXME: Is there a Drupal class for such undecorated lists? */

.contextMenu ul
{
  margin: 0;
  padding: 0;
}

.contextMenu ul li
{
  background: none;
  margin: 0;
  padding: 0;
}

/* Fixes for Drupal and YUI to play together */

.ygtvitem table
{
  margin: 0;
}

.ygtvitem tbody
{
  border: 0;
}

.ygtvitem td, th
{
  padding: 0;
}

/* Drop decoration, margin, and padding from lists in YUI menus */

.yuimenu ul
{
  margin: 0;
  padding: 0;
}

.yuimenu ul li
{
  background: none;
  margin: 0;
  padding: 0;
}

/* Drupal system.css sets position: relative, which causes parts of YUI menus
 * which overflow the fieldset to disappear */
/* TODO: Is this a bug in YUI menus?  Perhaps if position is relative, menu
 * parts should not overflow the fieldset? */

html.js fieldset.collapsible
{
  position: static;
}
