/*********************************************************
                ABOUT: menu.css
**********************************************************/

/* This stylesheet is used to assign styles to all menu elements
/* layout.css is used to structure and style the physical page layout
/* form.css is used to structure and style input forms
/* all other graphical elements are handled by graphic.css

/*****************************************/
/*           MENU - TOP                  */
/*****************************************/

.menu-quick-links
{
  float: right;
  margin: 0;
  padding: 3px 2px 0 0;
  background-color: transparent;
}

.menu-quick-links ul
{
  padding: 0;
  margin: 0;
}

.language-list li, .menu-quick-links li
{
  float: left;
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #cccccc;
}

.menu-quick-links li.hidden
{
  visibility: hidden;
  position: absolute;
}

.menu-quick-links a
{
  display: block;
  height: 12px;
  padding: 0px 5px 0px 5px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font: normal 11px/12px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
  background:  transparent;
  border: 0;
  color: #999999;
}

.menu-quick-links a:link
{
  background: transparent;
  color: #999999;
  text-decoration: none;
}

.menu-quick-links a:hover
{
  background: #000000;
  color: #ffffff;
}

.language-list li.active a, .menu-quick-links a.active
{
  border-bottom: 2px solid #999999;
}

.language-list li:first-child, .menu-quick-links li:first-child
{
  border-left: none;
}

.menu-quick-links ul.menu-level-2
{
  visibility: hidden;
  position: absolute;
}

/*****************************************/
/*           MENU - LANGUAGE LIST        */
/*****************************************/

.language-list
{
margin: 0;
padding: 3px 0 0 0;
height: 12px;
background-color: transparent;
border: 0;
float: left;
}

.language-list a
{
float: left;
height: 12px;
padding: 0 4px 0 4px;
margin: 0;
text-decoration: none;
display: block;
text-align: center;
font: normal 11px/12px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
background:  transparent;
border: 0;
border-left: 1px solid #cccccc;
color: #999999;
}

.language-list a:link
{
background: transparent;
color: #999999;
text-decoration: none;
}

.language-list a:hover
{
background: #000000;
color: #ffffff;
}

.language-list a.active
{
text-decoration: underline;
}

.language-list a:first-child
{
border-left: none;
}


/*****************************************/
/*           MENU - OPTIONS LIST         */
/*****************************************/

.options-list
{
margin: 0;
padding: 3px 0 10px 0;
height: 12px;
background-color: transparent;
border: 0;
float: left;
}

.options-list a
{
float: left;
height: 12px;
padding: 0 4px 0 4px;
margin: 0;
text-decoration: none;
display: block;
text-align: center;
font: normal 11px/12px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
background:  transparent;
border: 0;
border-left: 1px solid #cccccc;
color: #999999;
}

.options-list a:link
{
background: transparent;
color: #999999;
text-decoration: none;
}

.options-list a:hover
{
background: #000000;
color: #ffffff;
}

.options-list a.active
{
text-decoration: underline;
}

.options-list a:first-child
{
border-left: none;
}


/*****************************************/
/*           MENU -  MAIN                */
/*****************************************/

#menu-main
{
  /* background-image: url(Images/back.gif);
  background-repeat: repeat-x; */
  margin: 0;
  padding: 0;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #999999;
  position: relative;
}

#menu-main a
{
  float: left;
  padding: 5px 20px 4px 20px;
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: center;
  text-decoration: none;
  min-width: 80px;
  height: 19px;
  font: normal 17px/18px georgia, serif;
  background:  #a0a9bc;
  color: #ffffff;
  border:0;
  border-right: 1px solid #999999;
}

#menu-main a:link, #menu-main a:visited, #menu-main a:active
{
  background:  #a0a9bc;
  color: #ffffff;
  text-decoration: none;
}

#menu-main a:hover
{
  background: #000000;
  color: #ffffff;
  text-decoration: none;
}

#menu-main a.selected
{
  background: #006699;
  color: #ffffff;
  padding-bottom: 4px;
  text-decoration: none;
}

#menu-main a#first
{
  border-left: 1px solid #000066;
}

#menu-main ul
{
  position: absolute;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

#menu-main ul li
{
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-main ul.menu-level-1
{
  visibility: visible;
}

#menu-main ul.menu-level-1 li
{
  position: relative;
  float: left;
}

#menu-main ul.menu-level-1 li.hidden
{
  position: absolute;
  visibility: hidden;
}

#menu-main ul.menu-level-1 li a
{
  position: relative;
}

/* hide all menu-level-2 and lower menus in #menu-main div */
#menu-main ul.menu-level-2 li
{
  position: absolute;
  visibility: hidden;
}


/*****************************************/
/*            MENU - SECONDARY           */
/*****************************************/

.menu-secondary
{
margin: 0;
padding: 8px 0 0 30px;
height: 25px;
background-color: #006699;
border-bottom: solid 1px #999999;
border-left: solid 1px #999999;
border-right: solid 1px #999999;
position: relative;
}

.menu-secondary a
{
float:left;
height: 15px;
border: 0;
padding: 0 0 3px 0;
margin: 3px 7px 0 7px;
color: #ffffff;
text-decoration: none;
display: block;
text-align: center;
font: normal 15px/15px georgia, serif;
}

.menu-secondary a:link, .menu-secondary a:visited, .menu-secondary a:active
{
background-color: #006699;
color: #ffffff;
text-decoration: none;
}

.menu-secondary a:hover
{
background-color: #006699;
color: #ffffff;
border: 0;
border-bottom: 5px solid #ffffff;
text-decoration: none;
}

.menu-secondary a.selected
{
background: #006699;
color: #ffffff;
border-bottom: 5px solid #ffffff;
text-decoration: none;
font-weight: bold;
}

.menu-secondary ul
{
  position: relative;
  visibility: hidden;
  margin: 0;
  padding: 0;
  float: left;
}

.menu-secondary ul li
{
  position: relative;
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.menu-secondary ul li a
{
  position: absolute;
  visibility: hidden;
}

.menu-secondary ul.menu-level-2.visible
{
  visibility: visible;
  position: static;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}

.menu-secondary ul.menu-level-2.visible li
{
  visibility: visible;
  position: static;
}

.menu-secondary ul.menu-level-2.visible li a
{
  visibility: visible;
  position: static;
}

/* Requried to hide menus below level 2 */
.menu-secondary ul.menu-level-2 ul.menu-level-3 li a
{
  visibility: hidden;
  position: absolute;
}

/****************************************************/
/*            BUTTON-BLOCK                          */
/****************************************************/

/* a fixed block that holds the menu-action and menu-extra buttons at the bottom of data-entry forms */

#button-block
{
width: 500px;
border: 3px solid #999999;
background: #FF9D3C;
position: fixed;
bottom:30px;
height: auto;
line-height:1em;
overflow:hidden;
z-index:98;
padding: 10px 0px;
}

#button-block-bump
{
height: 150px;
width: 500px;
border: 0;
}

/****************************************************/
/*            MENU - ACTION                         */
/****************************************************/

.menu-action
{
border: 0px solid #000000;
}

.menu-action a:link, .menu-action a:visited, .menu-action a:active
{
text-decoration: none;
color: #ffffff;
background-color: #000000;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
padding: 3px 8px 4px 8px;
margin: 0 0 0 5px;
font: normal 15px/15px georgia, serif;
float: left;
}

.menu-action a:hover
{
color: #000000;
background-color: #ffffff;
text-decoration: none;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
float: left;

}

/* see also graphic.css: EDIT FORMS (i.e. more styles for #content form) */

.form-submit
{
color: #ffffff;
background-color: #000000;
text-decoration: none;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
border-left: 0;
border-top: 0;
padding: 0 6px 1px 6px;
margin: 0 0 0 5px;
font: normal 15px/15px georgia, serif;
width: auto;
height: 25px;
float: left;
}

.form-submit:hover
{
color: #000000;
background-color: #ffffff;
text-decoration: none;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
padding: 0 6px 1px 6px;
margin: 0 0 0 5px;
font: normal 15px/15px georgia, serif;
height: 25px;
float: left;
}

form input.submitImage{
vertical-align: top;
border: 0;
padding: 0;
margin: 0;
width: 100%;
}

form input.submitAdd{
vertical-align: top;
border: 0;
padding: 0;
margin: 0;
height: 15px;
width: 15px;
}

/****************************************************/
/*            MENU - EXTRA                          */
/****************************************************/

.menu-extra
{
border: 0px solid #000000;
clear: both;
padding: 5px 0;
}

.menu-extra a:link, .menu-extra a:visited, .menu-extra a:active
{
color: #000000;
background-color: #cccccc;
text-decoration: none;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
padding: 3px 8px 4px 8px;
margin: 0 0 0 5px;
font: normal 15px/15px georgia, serif;
float: left;
}

.menu-extra a:hover
{
color: #000000;
background: #ffffff;
text-decoration: none;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
float: left;
}

/*****************************************/
/*            MENU - DETAIL              */
/*****************************************/

.menu-detail
{
margin: 0;
padding: 15px 0 10px 60px;
float: left;
}

.menu-detail a
{
background-color: #006699;
color: #ffffff;
padding: 0 5px 0 5px;
}

.menu-detail a:link, .menu-detail a:visited, .menu-detail a:active
{
border-left: 1px solid #cccccc;
border-bottom: 2px solid #cccccc;
border-top: 2px solid #cccccc;
border-right: 1px solid #cccccc;
}

.menu-detail a:hover
{
border-left: 1px solid #cccccc;
border-bottom: 2px solid #cccccc;
border-top: 2px solid #cccccc;
border-right: 1px solid #cccccc;
background-color: #000000;
color: #ffffff;
}

#menu-detail-selected, #menu-detail-selected a:hover
{
color: #006699;
background-color: #ffffff;
border-left: 1px solid #cccccc;
border-bottom: 2px solid #cccccc;
border-top: 2px solid #cccccc;
border-right: 1px solid #cccccc;
}

/****************************************************/
/*            MENU - CONTEXT                        */
/****************************************************/

.contextMenu
{
overflow: hidden;
}

.contextMenu .label
{
width: 100%;
overflow: hidden;
color: #ffffff;
border: 0;
border-bottom: 1px solid #999999;
margin: 4px 0 0 0;
padding: 1px 0 4px 3px;
background-color: #006699;
font: normal 14px/16px georgia, serif;
text-transform: lowercase;
}

/****************************************************/
/*            MULTI-LEVEL TREE                      */
/****************************************************/

.contextMenu .node
{
width: 100%;
overflow: hidden;
border-bottom: 0;
padding-left: 5px;
}

.contextMenu .currentNode
{
overflow: hidden;
width: 100%;
border: 0;
color: #000000;
background-color: #ffffff;
font-weight: bold;
}

.contextMenu .currentNode a
{
color: #000000;
}

.contextMenu .currentNode a:hover
{
color: #ffffff;
}

.contextMenu .node .plus
{
background-image: url('../images/tree_plus.gif');
background-repeat: no-repeat;
padding-left: 17px;
background-position: top left;
}

.contextMenu .currentNode .plus
{
background-image: url('../images/tree_plus.gif');
background-repeat: no-repeat;
padding-left: 17px;
background-position: top left;
}

.contextMenu .node .minus
{
padding-left: 17px;
background-image: url('../images/tree_minus.gif');
background-repeat: no-repeat;
background-position: top left;
}

.contextMenu .currentNode .minus
{
padding-left: 17px;
background-image: url('../images/tree_minus.gif');
background-repeat: no-repeat;
background-position: top left;
}

.contextMenu .node .rootPath
{
background-image: url('../images/tree_minus.gif');
background-repeat: no-repeat;
padding-left: 17px;
background-position: top left;
}

.contextMenu .currentNode .rootPath
{
padding-left: 17px;
background-image: url('../images/tree_minus.gif');
background-repeat: no-repeat;
background-position: top left;
}

/****************************************************/
/*            MENU - EDIT                            */
/****************************************************/

.menu-edit
{
border: 0px solid #000000;
}

.menu-edit a:link, .menu-edit a:visited, .menu-edit a:active
{
color: #000000;
background-color: #cccccc;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
}

.menu-edit a:hover
{
color: #000000;
background: #ffffff;
border-right: 3px solid #999999;
border-bottom: 3px solid #999999;
}

.actions
{
  background:#FF9D3C none repeat scroll 0 0;
  border:3px solid #999999;
  bottom:2em;
  height:auto;
  line-height:1em;
  margin-top:20px;
  overflow:hidden;
  padding: 5px;
  position:fixed;
  width:500px;
  z-index:98;
}

ul.actions li
{
  display: inline;
}

.actions a, .actions .form-submit
{
  background-color: #000;
  border-bottom: 3px solid #999;
  border-right: 3px solid #999;
  color: #fff;
  display: block;
  float: left;
  font: normal 15px/15px georgia, serif;
  margin: 3px;
  padding: 3px 8px;
}

.actions a:hover, .actions .form-submit:hover
{
  background-color: #fff;
  color: #000;
}

/* Use trick from l10n_client.js to allow scrolling past fixed position element
 */

body
{
  border-bottom: 3em solid #fff;
}

.list img
{
  visibility: hidden;
}

.list :hover > img
{
  visibility: visible;
}
