# use this defaultTaxonomyTerms.yml file if you want to load a clean install,
# without any sample data. Please note, however, that the default QubitTaxonomy
# and QubitTerm values in this file are repeated in the sampleData.yml fixtures
# file because the sample data objects have foreign key links to these terms.
# The current YAML fixtures functionality requires these to be in the same file
# (e.g. sampleData.yml) for the correct foreign key values to be set. Therefore,
# if you are loading a clean install use this defaultTaxonomyTerms.yml file but
# you MUST also disable the sampleData.yml file (by adding a .tmpl suffix to the
# file name) so that the default Taxonomies and Terms are not duplicated in the
# data load process.

QubitTaxonomy:
  QubitTaxonomy_1:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::DESCRIPTION_DETAIL_LEVEL_ID."\n" ?>
    name: { en: 'Description Detail Levels', es: 'Descripción detalles de niveles', fr: 'Niveaux de détail de la description', it: 'livelli della completezza della descrizione', nl: 'Niveaus van detailbeschrijving', pt: 'Níveis de detalhamento descritivo', sl: 'podroben opis nivoja' }
  QubitTaxonomy_2:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::ACTOR_ENTITY_TYPE_ID."\n" ?>
    name: { en: 'Actor Entity Types', fr: 'Types d''entité acteur', it: 'tipi di entità dell''agente', nl: 'Soorten entiteiten', pt: 'Tipos de entidade', sl: 'tip entitet ustvarjalcev' }
  QubitTaxonomy_3:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::DESCRIPTION_STATUS_ID."\n" ?>
    name: { en: 'Description Statuses', fr: 'Statuts de la description', it: 'stati della descrizione', nl: Beschrijvingsstatus, pt: 'Status da descrição', sl: 'statusi opisa' }
  QubitTaxonomy_4:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::LEVEL_OF_DESCRIPTION_ID."\n" ?>
    name: { en: 'Levels of description', es: 'Niveles de descripción', fr: 'Niveau de description', it: 'livelli di descrizione', nl: Beschrijvingsniveaus, pt: 'Níveis de descrição', sl: 'nivo popisa' }
  QubitTaxonomy_5:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::SUBJECT_ID."\n" ?>
    name: { en: Subjects, es: Materias, fr: Sujets, it: soggetti, nl: Onderwerpen, pt: Assuntos, sl: osebe }
  QubitTaxonomy_6:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::ACTOR_NAME_TYPE_ID."\n" ?>
    name: { en: 'Actor Name Types', fr: 'Types de noms d''acteur', it: 'tipi di nome dell''agente', nl: 'Soorten naam van entiteiten', pt: 'Tipos de nome', sl: 'tip imen ustvarjalcev' }
  QubitTaxonomy_7:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::NOTE_TYPE_ID."\n" ?>
    name: { en: 'Note types', fr: 'Types de notes', it: 'tipi di nota', nl: 'Soorten aantekeningen', pt: 'Tipos de nota', sl: 'tip opomb' }
  QubitTaxonomy_8:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::REPOSITORY_TYPE_ID."\n" ?>
    name: { en: 'Repository Types', es: 'tipos de repositorios', fr: 'Types de services d''archives', it: 'tipi di deposito', nl: 'Soorten bewaarplaatsen', pt: 'Tipos de entidades custodiadoras', sl: 'tip skladišča' }
  QubitTaxonomy_10:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::EVENT_TYPE_ID."\n" ?>
    name: { en: 'Event Types', es: 'Tipo de evento', fr: 'Types d''événement', it: 'tipi di evento', nl: 'Soorten gebeurtenisen', pt: 'Tipos de evento', sl: 'tip dogodka' }
    note: { en: 'Used to describe the types of Events that Actors and InformationObjects are related to.' }
  QubitTaxonomy_11:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::QUBIT_SETTING_LABEL_ID."\n" ?>
    name: { en: 'Qubit Setting Labels', es: 'Etiquetas de configuración de Qubit', fr: 'Étiquettes des paramètres Qubit', it: 'etichette delle impostazioni di Qubit', nl: 'Qubit instellings labels', pt: 'Etiquetas de configuração do Qubit', sl: 'Qubit nastavitve label' }
    note: { en: 'An internal, uneditable taxonomy used to store and translate alternate app setting labels used in different Qubit distributions' }
  QubitTaxonomy_12:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::PLACE_ID."\n" ?>
    name: { en: Places, es: Lugares, fr: Lieux, it: luoghi, nl: Plaatsen, pt: Locais, sl: kraji }
  QubitTaxonomy_13:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::FUNCTION_ID."\n" ?>
    name: { en: Functions, es: Funciones, fr: Fonctions, it: funzioni, nl: Functies, pt: Funções, sl: funkcija }
  QubitTaxonomy_14:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::HISTORICAL_EVENT_ID."\n" ?>
    name: { en: 'Historical Events', es: 'Sucesos históricos', fr: 'Événements historiques', it: 'eventi storici', nl: 'Historische gebeurtenissen', pt: 'Eventos históricos', sl: 'zgodovinski dogodki' }
  QubitTaxonomy_15:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::COLLECTION_TYPE_ID."\n" ?>
    name: { en: 'Collection Types', es: 'Tipos de colecciones', fr: 'Types de collection', it: 'tipi di collezione', nl: 'Soorten collectie', pt: 'Tipos de acervo', sl: 'tip zbirke' }
  QubitTaxonomy_16:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::MEDIA_TYPE_ID."\n" ?>
    name: { en: 'Media Types', fr: 'Types de supports', it: 'tipi di media', nl: Bestandsformaten, pt: 'Tipos de mídia', sl: 'tip medija' }
  QubitTaxonomy_17:
    created_at: '2008-04-24 09:30:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::DIGITAL_OBJECT_USAGE_ID."\n" ?>
    name: { en: 'Digital Object Usages', es: 'Usos do los objetivos digitales', fr: 'Usages d''objets numériques', it: 'usi dell''oggetto digitale', nl: 'Gebruik digitaal object', pt: 'Usos do objeto digital', sl: 'raba digitalnega objekta' }
  QubitTaxonomy_18:
    created_at: '2008-06-06 11:41:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::PHYSICAL_OBJECT_TYPE_ID."\n" ?>
    name: { en: 'Physical Object Type', fr: 'Type d''objet physique', it: 'tipo di oggetto fisico', nl: 'Soorten fysieke objecten', pt: 'Localização física', sl: 'tip fizičnega objekta' }
  QubitTaxonomy_19:
    created_at: '2008-06-18 11:41:11'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::RELATION_TYPE_ID."\n" ?>
    name: { en: 'Relation Type', fr: 'Type de relation', it: 'tipo di relazione', nl: 'Soorten relaties', pt: 'Tipo de relação', sl: 'tip povezave' }
  QubitTaxonomy_20:
    created_at: '2008-10-18 12:00:00'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::MATERIAL_TYPE_ID."\n" ?>
    name: { en: 'Material Type', fr: 'Types de documents', it: 'tipo di materiale', pt: 'Tipo de suporte', sl: 'tip materiala' }
  QubitTaxonomy_21:
    created_at: '2008-10-18 12:00:00'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::RAD_NOTE_ID."\n" ?>
    name: { en: 'RAD Note', fr: 'Note RDDA', it: 'nota RAD', sl: 'RAD opombe' }
    note: { en: 'Note types that occur specifically within the Canadian Council of Archives', Rules: 'for Archival Description (RAD)''' }
  QubitTaxonomy_22:
    created_at: '2008-10-18 12:00:00'
    updated_at: '2009-03-03 15:20:10'
    source_culture: en
    id: <?php echo QubitTaxonomy::RAD_TITLE_NOTE_ID."\n" ?>
    name: { en: 'RAD Title Note', fr: 'Note de titre RDDA', it: 'nota al titolo RAD', sl: 'RAD naslov opombe' }
    note: { en: 'Title note types that occur specifically within the Canadian Council of Archives', Rules: 'for Archival Description (RAD)''' }
QubitTerm:
  QubitTerm_111:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::CREATION_ID."\n" ?>
    lft: '1'
    rgt: '2'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Creation, es: Criação, fr: Production, it: Creazione, nl: Vervaardig, pt: Produção, sl: Ustvarjanje }
  QubitTerm_112:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::SUBJECT_ID."\n" ?>
    lft: '3'
    rgt: '4'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { Subject, fr: Sujet, it: Soggetto, nl: Onderwerp, pt: Assunto, sl: Osebek }
  QubitTerm_113:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::CUSTODY_ID."\n" ?>
    lft: '5'
    rgt: '6'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Custody, es: Custódia, fr: Conservation, it: Conservazione, nl: Beheer, pt: Custódia, sl: Skrbništvo }
  QubitTerm_114:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::PUBLICATION_ID."\n" ?>
    lft: '7'
    rgt: '8'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Publication, es: Publicação, fr: Publication, it: Pubblicazione, nl: Publicatie, pt: Publicação, sl: Publikaciranje }
  QubitTerm_115:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::CONTRIBUTION_ID."\n" ?>
    lft: '9'
    rgt: '10'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Contribution, es: Contribuição, fr: Contribution, it: Contributo, nl: Bijdrage, pt: Contribuição, sl: Prispevek }
  QubitTerm_117:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::COLLECTION_ID."\n" ?>
    lft: '11'
    rgt: '12'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Collection, fr: Collection, it: Collezione, nl: Collectie, pt: Coleção, sl: Zbirka }
  QubitTerm_Accumulation:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    id: <?php echo QubitTerm::ACCUMULATION_ID."\n" ?>
    source_culture: en
    name: { en: Accumulation, fr: Accumulation, it: Accumulazione, pt: Acumulação, sl: Zbiranje }
  QubitTerm_118:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::TITLE_NOTE_ID."\n" ?>
    lft: '13'
    rgt: '14'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Title note', fr: 'Note de titre', it: 'Nota del titolo', nl: 'Titel aantekening', pt: 'Nota de título', sl: 'Opombe naslova' }
  QubitTerm_119:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::PUBLICATION_NOTE_ID."\n" ?>
    lft: '15'
    rgt: '16'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Publication note', es: 'Nota de publicación', fr: 'Note bibliographique', it: 'Nota bibliografica', nl: 'Notitie Publicaties', pt: 'Nota de publicação', sl: 'Opombe objav' }
  QubitTerm_120:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::SOURCE_NOTE_ID."\n" ?>
    lft: '17'
    rgt: '18'
    created_at: '2008-07-16 13:18:59'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Source note', es: 'Nota de fuente', fr: 'Note de source', it: 'Nota sulla fonte', nl: 'Notitie bron', pt: 'Nota de fonte', sl: 'Opombe virov' }
  QubitTerm_121:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::SCOPE_NOTE_ID."\n" ?>
    lft: '19'
    rgt: '20'
    created_at: '2008-07-16 13:18:59'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Scope note', es: 'Nota de alcance', fr: 'Note d''application', it: 'Nota di ambito', nl: 'Notitie toepassingsgebied', pt: 'Nota de âmbito', sl: 'Opombe namena' }
  QubitTerm_122:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::DISPLAY_NOTE_ID."\n" ?>
    lft: '21'
    rgt: '22'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Display note', fr: 'Note d''affichage', it: 'Nota sulla valutazione', pt: 'Exibir nota', sl: 'Prikazana opomba' }
  QubitTerm_123:
    taxonomy_id: QubitTaxonomy_15
    class_name: QubitTerm
    id: <?php echo QubitTerm::ARCHIVAL_MATERIAL_ID."\n" ?>
    lft: '23'
    rgt: '24'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Archival material', fr: 'Documents d''archives', it: 'Materiale archivistico', nl: 'Archivistisch materaal', pt: 'Acervo arquivístico', sl: 'Arhivsko gradivo' }
  QubitTerm_125:
    taxonomy_id: QubitTaxonomy_15
    class_name: QubitTerm
    id: <?php echo QubitTerm::PUBLISHED_MATERIAL_ID."\n" ?>
    lft: '27'
    rgt: '28'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Published material', fr: 'Documents publiés', it: 'Materiale edito', nl: 'Gepubliseerd materiaal', pt: Publicações, sl: 'Objavljeno gradivo' }
  QubitTerm_126:
    taxonomy_id: QubitTaxonomy_15
    class_name: QubitTerm
    id: <?php echo QubitTerm::ARTEFACT_MATERIAL_ID."\n" ?>
    lft: '29'
    rgt: '30'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Artefact material', fr: Artefact, it: Manufatto, nl: 'Artefact materiaal', pt: 'Material tridimensional', sl: Artifakti }
  QubitTerm_127:
    taxonomy_id: QubitTaxonomy_2
    class_name: QubitTerm
    id: <?php echo QubitTerm::CORPORATE_BODY_ID."\n" ?>
    lft: '31'
    rgt: '32'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Corporate body', es: 'Entidade coletiva', fr: Collectivité, it: Ente, nl: Instelling, pt: 'Entidade coletiva', sl: Korporacija }
  QubitTerm_128:
    taxonomy_id: QubitTaxonomy_2
    class_name: QubitTerm
    id: <?php echo QubitTerm::PERSON_ID."\n" ?>
    lft: '33'
    rgt: '34'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Person, en: Person, es: Persona, fr: Personne, it: Persona, nl: Persoon, pt: Pessoa, sl: Oseba }
  QubitTerm_129:
    taxonomy_id: QubitTaxonomy_2
    class_name: QubitTerm
    id: <?php echo QubitTerm::FAMILY_ID."\n" ?>
    lft: '35'
    rgt: '36'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Family, es: Família, fr: Famille, it: Famiglia, nl: Familie, pt: Família, sl: Družina }
  QubitTerm_131:
    taxonomy_id: QubitTaxonomy_16
    class_name: QubitTerm
    id: <?php echo QubitTerm::AUDIO_ID."\n" ?>
    lft: '37'
    rgt: '38'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Audio, es: Audio, fr: Audio, it: Audio, nl: Audio, pt: Áudio, sl: Avdio }
  QubitTerm_132:
    taxonomy_id: QubitTaxonomy_16
    class_name: QubitTerm
    id: <?php echo QubitTerm::IMAGE_ID."\n" ?>
    lft: '39'
    rgt: '40'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Image, fr: Image, it: Immagine, nl: Afbeelding, pt: Imagem, sl: Slike }
  QubitTerm_134:
    taxonomy_id: QubitTaxonomy_16
    class_name: QubitTerm
    id: <?php echo QubitTerm::TEXT_ID."\n" ?>
    lft: '41'
    rgt: '42'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Text, fr: Texte, it: Testo, nl: Tekst, pt: Texto, sl: Besedilo }
  QubitTerm_135:
    taxonomy_id: QubitTaxonomy_16
    class_name: QubitTerm
    id: <?php echo QubitTerm::VIDEO_ID."\n" ?>
    lft: '43'
    rgt: '44'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Video, fr: Vidéo, it: Video, nl: Video, pt: Vídeo, sl: Video }
  QubitTerm_136:
    taxonomy_id: QubitTaxonomy_16
    class_name: QubitTerm
    id: <?php echo QubitTerm::OTHER_ID."\n" ?>
    lft: '45'
    rgt: '46'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Other, fr: Autre, it: Altro, nl: Anders, pt: Outro, sl: Drugo }
  QubitTerm_137:
    taxonomy_id: QubitTaxonomy_17
    class_name: QubitTerm
    id: <?php echo QubitTerm::MASTER_ID."\n" ?>
    lft: '47'
    rgt: '48'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Master, fr: 'Fichier maître', it: Master, nl: Master, pt: Master, sl: Izvorni }
  QubitTerm_138:
    taxonomy_id: QubitTaxonomy_17
    class_name: QubitTerm
    id: <?php echo QubitTerm::REFERENCE_ID."\n" ?>
    lft: '49'
    rgt: '50'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Reference, fr: Référence, it: Riferimento, nl: Referentie, pt: Referência, sl: Referenca }
  QubitTerm_139:
    taxonomy_id: QubitTaxonomy_17
    class_name: QubitTerm
    id: <?php echo QubitTerm::THUMBNAIL_ID."\n" ?>
    lft: '51'
    rgt: '52'
    created_at: '2008-04-24 11:37:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Thumbnail, fr: Vignette, it: Anteprima, nl: Thumbnail, pt: Thumbnail, sl: Ikona }
  QubitTerm_compound_id:
    taxonomy_id: QubitTaxonomy_17
    class_name: QubitTerm
    id: <?php echo QubitTerm::COMPOUND_ID."\n" ?>
    source_culture: en
    name: { en: 'Compound' }
  QubitTerm_140:
    taxonomy_id: QubitTaxonomy_18
    class_name: QubitTerm
    id: <?php echo QubitTerm::LOCATION_ID."\n" ?>
    lft: '53'
    rgt: '54'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Location, fr: Lieu, it: Ubicazione, nl: Lokatie, pt: Localização, sl: Lokacija }
  QubitTerm_141:
    taxonomy_id: QubitTaxonomy_18
    class_name: QubitTerm
    id: <?php echo QubitTerm::CONTAINER_ID."\n" ?>
    lft: '55'
    rgt: '70'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Container, es: Contenedor, fr: Contenant, it: Contenitore, nl: Verpakking, pt: 'Unidade de instalação física', sl: Vsebnik }
  QubitTerm_142:
    taxonomy_id: QubitTaxonomy_18
    class_name: QubitTerm
    id: <?php echo QubitTerm::ARTEFACT_ID."\n" ?>
    lft: '71'
    rgt: '72'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Artefact, fr: Artefact, it: Manufatto, nl: Artefact, pt: 'Objeto tridimensional', sl: Artefakt }
  QubitTerm_143:
    taxonomy_id: QubitTaxonomy_19
    class_name: QubitTerm
    id: <?php echo QubitTerm::HAS_PHYSICAL_OBJECT_ID."\n" ?>
    lft: '73'
    rgt: '74'
    created_at: '2008-06-18 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'has Physical Object', fr: 'contient un objet physique', it: 'contiene un oggetto fisico', nl: 'heeft fysiek object', pt: 'possui objeto tridimensional', sl: 'ima fizični objek' }
  QubitTerm_180:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::ARCHIVIST_NOTE_ID."\n" ?>
    source_culture: en
    name: { en: 'Archivist''s note', fr: 'Note de l''archiviste', it: 'Nota dell''archivista', nl: Verantwoording, pt: 'Nota do arquivista', sl: 'Opombe arhivista' }
  QubitTerm_odd:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::OTHER_DESCRIPTIVE_DATA_ID."\n" ?>
    source_culture: en
    name: { en: 'Other Descriptive Data' }
  QubitTerm_181:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    id: <?php echo QubitTerm::GENERAL_NOTE_ID."\n" ?>
    source_culture: en
    name: { en: 'General note', fr: 'Note générale', it: 'Nota generale', nl: 'Algemene aantekening', pt: 'Nota geral', sl: 'Splošne opombe' }
  QubitTerm_144:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '75'
    rgt: '76'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Authoring, fr: Auteur, it: Scrittura, pt: Autoria, sl: Avtoriziranje }
  QubitTerm_145:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '77'
    rgt: '78'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Editing, fr: Edition, it: Correzione, pt: Edição, sl: Urejanje }
  QubitTerm_146:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '79'
    rgt: '80'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Translation, fr: Traduction, it: Traduzione, pt: Tradução, sl: Prevajanje }
  QubitTerm_147:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '81'
    rgt: '82'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Compilation, fr: Compilation, it: Compilazione, pt: Compilação, sl: Kompilacija }
  QubitTerm_148:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '83'
    rgt: '84'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Distribution, fr: Distribution, it: Distribuzione, pt: Distribuição, sl: Distribuiranje }
  QubitTerm_149:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '85'
    rgt: '86'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Broadcasting, fr: Diffusion, it: Trasmissione, pt: Radiodifusão, sl: 'Oddajanje (radio)' }
  QubitTerm_150:
    taxonomy_id: QubitTaxonomy_10
    class_name: QubitTerm
    lft: '87'
    rgt: '88'
    created_at: '2008-11-10 15:43:19'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Manufacturing, fr: Fabrication, it: Fabbricazione, pt: Fabricação, sl: Proizvoden }
  QubitTerm_151:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '89'
    rgt: '90'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Parallel form', es: 'Forma paralela', fr: 'Forme parallèle', it: 'Forma parallela', nl: 'Parallelle naam', pt: 'Forma paralela', sl: 'Vzporedna oblika' }
  QubitTerm_152:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '91'
    rgt: '92'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Standardized form', es: 'Forma normalizada', fr: 'Forme normalisée', it: 'Forma standardizzata', nl: 'Geautoriseerde naam', pt: 'Forma normalizada', sl: 'Standardizirana oblika' }
  QubitTerm_153:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '93'
    rgt: '94'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Other name', es: 'Outra forma do nome', fr: 'Autre nom', it: 'Altro nome', nl: 'Andere naam', pt: 'Outra forma do nome', sl: 'Drugo ime' }
  QubitTerm_154:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '95'
    rgt: '96'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Previous name', es: 'Nombre anterior', fr: 'Nom précédent', it: 'Nome precedente', nl: 'Eerdere naam', pt: 'Nome anterior', sl: 'Prejšnje ime' }
  QubitTerm_155:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '97'
    rgt: '98'
    created_at: '2008-03-17 18:37:07'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Pseudonym, es: Pseudônimo, fr: Pseudonyme, it: Pseudonomo, nl: Pseudoniem, pt: Pseudônimo, sl: Psevdonim }
  QubitTerm_156:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '99'
    rgt: '100'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Acronym, fr: Acronyme, it: Acronimo, nl: Acroniem, pt: Sigla, sl: Akronim }
  QubitTerm_157:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '101'
    rgt: '102'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Title, es: Título, fr: Titre, it: Titolo, nl: Titel, pt: Título, sl: Naslov }
  QubitTerm_158:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_141
    class_name: QubitTerm
    lft: '56'
    rgt: '61'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Box, fr: Boîte, it: Scatola, nl: Doos, pt: Caixa, sl: Škatla }
  QubitTerm_159:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_158
    class_name: QubitTerm
    lft: '57'
    rgt: '58'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Cardboard box', fr: 'Boîte en carton', it: 'Scatola di cartone', nl: Kaartenbak, pt: 'Caixa de papelão', sl: 'Škatla tip 1' }
  QubitTerm_160:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_158
    class_name: QubitTerm
    lft: '59'
    rgt: '60'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Hollinger box', fr: 'Boîte Hollinger', it: 'Scatola Hollinger', nl: Ponskaartendoos, pt: 'Caixa Hollinger', sl: 'Škatla tip 2' }
  QubitTerm_161:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_141
    class_name: QubitTerm
    lft: '62'
    rgt: '63'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Folder, fr: Chemise, it: Busta, nl: Map, pt: Pasta, sl: Mapa }
  QubitTerm_162:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_141
    class_name: QubitTerm
    lft: '64'
    rgt: '65'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Filing cabinet', es: Archivador, fr: Classeur, it: Classificatore, nl: Dossierkast, pt: Armário, sl: 'Polica 1' }
  QubitTerm_163:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_141
    class_name: QubitTerm
    lft: '66'
    rgt: '67'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Map cabinet', fr: 'Classeur pour cartes', it: 'Armadio per mappe', nl: Kaartenkast, pt: Mapoteca, sl: 'Polica 2' }
  QubitTerm_164:
    taxonomy_id: QubitTaxonomy_18
    parent_id: QubitTerm_141
    class_name: QubitTerm
    lft: '68'
    rgt: '69'
    created_at: '2008-06-06 11:47:52'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Shelf, es: Anaquel, fr: Tablette, it: Scaffale, nl: Plank, pt: Prateleira, sl: Poličnica }
  QubitTerm_165:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '103'
    rgt: '104'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Maiden name, first name', es: 'Sobrenome de solteira, Primeiro nome', fr: 'Nom de jeune fille, prénom', it: 'Cognome da nubile, nome', nl: 'Meisjesnaam, voornaam', pt: 'Sobrenome de solteira, primeiro nome', sl: Priimek }
  QubitTerm_166:
    taxonomy_id: QubitTaxonomy_6
    class_name: QubitTerm
    lft: '105'
    rgt: '106'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Nickname, es: Apelido, fr: Surnom, it: Soprannome, nl: Roepnaam, pt: Apelido, sl: Vzdevek }
  QubitTerm_167:
    taxonomy_id: QubitTaxonomy_3
    class_name: QubitTerm
    lft: '107'
    rgt: '108'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Final, es: Final, fr: Final, it: Finale, nl: Finale, pt: Final, sl: Zaključen }
  QubitTerm_168:
    taxonomy_id: QubitTaxonomy_3
    class_name: QubitTerm
    lft: '109'
    rgt: '110'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Revised, es: Revisado, fr: Révisé, it: Rivista, nl: Gereviseerd, pt: Revisado, sl: 'Ponovno pregledan' }
  QubitTerm_169:
    taxonomy_id: QubitTaxonomy_3
    class_name: QubitTerm
    lft: '111'
    rgt: '112'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Draft, es: Minuta, fr: Ébauche, it: Bozza, nl: Klad, pt: Preliminar, sl: Osnutek }
  QubitTerm_170:
    taxonomy_id: QubitTaxonomy_1
    class_name: QubitTerm
    lft: '113'
    rgt: '114'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Full, es: Completo, fr: Complet, it: Completa, nl: Geheel, pt: Integral, sl: Popoln }
  QubitTerm_171:
    taxonomy_id: QubitTaxonomy_1
    class_name: QubitTerm
    lft: '115'
    rgt: '116'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Partial, es: Parcial, fr: Moyen, it: Parziale, nl: Gedeeltelijk, pt: Parcial, sl: Delni }
  QubitTerm_172:
    taxonomy_id: QubitTaxonomy_1
    class_name: QubitTerm
    lft: '117'
    rgt: '118'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Minimal, es: Mínimo, fr: Élémentaire, it: Minima, nl: Minimaal, pt: Mínimo, sl: Minimalni }
  QubitTerm_173:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '119'
    rgt: '120'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Fonds, es: Fundo, fr: Fonds, it: Fondo, nl: Archief, pt: Fundo, sl: Fond/zbirka }
  QubitTerm_174:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '121'
    rgt: '122'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Sub-fonds, es: Sub-fundo, fr: Sous-fonds, it: Sub-fondo, nl: Deelarchief, pt: Seção/Subfundo, sl: Podfond }
  QubitTerm_175:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '123'
    rgt: '124'
    created_at: '2008-06-16 16:07:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Collection, es: Colección, fr: Collection, it: Collezione, nl: Collectie, pt: Coleção, sl: Zbirka }
  QubitTerm_176:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '125'
    rgt: '126'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Series, es: Séries, fr: 'Série organique', it: Serie, nl: Reeks, pt: Série, sl: Serija }
  QubitTerm_177:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '127'
    rgt: '128'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Sub-series, es: Sub-séries, fr: 'Sous-série organique', it: Sottoserie, nl: Deelreeks, pt: Subsérie, sl: Pod-serija }
  QubitTerm_178:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '129'
    rgt: '130'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: File, es: Dossiê, fr: Dossier, it: 'Unità archivistica', nl: Bestanddeel, pt: Dossiê/Processo, sl: Zadeva/dosje }
  QubitTerm_179:
    taxonomy_id: QubitTaxonomy_4
    class_name: QubitTerm
    lft: '131'
    rgt: '132'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Item, es: Item, fr: Pièce, it: 'Unità documentaria', nl: Stuk, pt: Item, sl: Kos }
  QubitTerm_182:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    lft: '137'
    rgt: '138'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Maintenance note', fr: 'Notes relatives à la mise à jour de la description', it: 'Nota sulla manutenzione', nl: Onderhoudsaantekening, pt: 'Nota de manutenção', sl: 'Opombe obdelave' }
  QubitTerm_183:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '139'
    rgt: '140'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Information object', fr: 'Objet d''information', it: 'Oggetto informativo', nl: 'Information object', pt: 'Objeto informacional', sl: 'Informacijski objekt' }
  QubitTerm_184:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '141'
    rgt: '142'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Person/Einrichtung, en: Person/organization, fr: Personne/organisation, it: Persona/organizzazione, nl: Persoon/organisatie, pt: Pessoa/organização, sl: Oseba/organizacija }
  QubitTerm_185:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '143'
    rgt: '144'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Creator, fr: 'Producteur d''archives', it: 'Soggetto produttore', nl: Archiefvormer, pt: Produtor, sl: Ustvarjalec }
  QubitTerm_186:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '145'
    rgt: '146'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Repository, fr: 'Service d''archives', it: 'Soggetto conservatore', nl: Depot, pt: 'Entidade custodiadora', sl: Skladišče }
  QubitTerm_187:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '147'
    rgt: '148'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Term, fr: Terme, it: Termine, nl: Term, pt: Termo, sl: Izraz }
  QubitTerm_188:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '149'
    rgt: '150'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Subject, fr: Sujet, it: Soggetto, nl: Onderwerp, pt: Assunto, sl: Oseba }
  QubitTerm_189:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '151'
    rgt: '152'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Collection, fr: Collection, it: Collezione, nl: Collectie, pt: Coleção, sl: Zbirka }
  QubitTerm_190:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '153'
    rgt: '154'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Holdings, fr: Collections, it: Patrimoni, nl: Collecties, pt: Acervo, sl: Fondi }
  QubitTerm_191:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '155'
    rgt: '156'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: 'Archivische Beschreibung', en: 'Archival description', fr: 'Description archivistique', it: 'Descrizione archivistica', nl: 'Archivistische beschrijving', pt: 'Descrição arquivística', sl: 'Arhivski opis' }
  QubitTerm_192:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '157'
    rgt: '158'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Authority record', fr: 'Fichier d''autorité', nl: 'Geautoriseerd bestand', pt: 'Registro de autoridade' }
  QubitTerm_193:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '159'
    rgt: '160'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Bestand, en: Fonds, fr: Fonds, it: Fondo, nl: Archief, pt: Fundo, sl: Fondi }
  QubitTerm_194:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '161'
    rgt: '162'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Archiv, en: 'Archival institution', fr: 'Institution archivistique', it: 'Istituzione archivistica', nl: Archiefinstelling, pt: 'Instituição arquivística', sl: 'Arhivska ustanova' }
  QubitTerm_195:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '163'
    rgt: '164'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: International, es: Internacional, fr: International, it: Internazionale, nl: Internationaal, pt: Internacional, sl: Mednarodni }
  QubitTerm_196:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '165'
    rgt: '166'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: National, es: Nacional, fr: National, it: Nazionale, nl: Nationaal, pt: Nacional, sl: Nacionalni }
  QubitTerm_197:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '167'
    rgt: '168'
    created_at: '2008-03-17 18:37:08'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Regional, es: Regional, fr: Régional, it: Regionale, nl: Regionaal, pt: Regional, sl: Regionalni }
  QubitTerm_198:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '169'
    rgt: '170'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Provincial/state, es: Provincial/estadual, fr: 'Provincial/d''État', it: Provinaciale/statale, nl: Provinciaal, pt: Provincial/estadual, sl: Regionalni/državni }
  QubitTerm_199:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '171'
    rgt: '172'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Community, es: Comunitário, fr: Communautaire, it: Comunitario, nl: Gemeenschap, pt: Municipal, sl: Občinski }
  QubitTerm_200:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '173'
    rgt: '174'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Religious, es: Religioso, fr: Religieux, it: Religioso, nl: Religie, pt: Religioso, sl: 'Verskih skupnosti' }
  QubitTerm_201:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '175'
    rgt: '176'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: University, es: Universitário, fr: Universitaire, it: Universitario, nl: Universiteit, pt: Universitário, sl: Univerzitetni }
  QubitTerm_202:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '177'
    rgt: '178'
    created_at: '2008-04-24 09:30:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Municipal, es: Municipal, fr: Municipal, it: Municipale, nl: Gemeente, pt: Municipal, sl: Mestni }
  QubitTerm_203:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '179'
    rgt: '180'
    created_at: '2008-06-16 16:07:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Aboriginal, fr: Autochtone, it: Aborigeno, pt: Indígena, sl: Prvobiten }
  QubitTerm_204:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '181'
    rgt: '182'
    created_at: '2008-06-16 16:07:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Educational, es: Educativo, fr: Scolaire, it: Educativo, pt: Escolar, sl: Izbobraževalen }
  QubitTerm_205:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '183'
    rgt: '184'
    created_at: '2008-06-16 16:07:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Medical, es: Médico, fr: Médical, it: Medico, nl: Medisch, pt: Médico, sl: Medecinski }
  QubitTerm_206:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '185'
    rgt: '186'
    created_at: '2008-06-16 16:07:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Military, es: Militar, fr: Militaire, it: Militare, nl: Militair, pt: Militar, sl: Vojaški }
  QubitTerm_207:
    taxonomy_id: QubitTaxonomy_8
    class_name: QubitTerm
    lft: '187'
    rgt: '188'
    created_at: '2008-06-16 16:07:12'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Private, fr: Privé, it: Privato, nl: Privaat, pt: Privado, sl: Zasebni }
  QubitTerm_214:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '201'
    rgt: '202'
    created_at: '2008-06-17 17:24:34'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Ort, en: Place, fr: Lieu, it: Luogo, nl: Plaats, pt: Local, sl: Kraj }
  QubitTerm_215:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '203'
    rgt: '204'
    created_at: '2008-06-17 17:24:48'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Name, en: Name, fr: Nom, it: Nome, nl: Naam, pt: Nome, sl: Naziv }
  QubitTerm_216:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '205'
    rgt: '206'
    created_at: '2008-06-17 17:25:17'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: 'Digitales Objekt', en: 'Digital object', fr: 'Objet numérique', it: 'Oggetto digitale', nl: 'Digitaal object', pt: 'Objeto digital', sl: 'Digitalni objekt' }
  QubitTerm_217:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '207'
    rgt: '208'
    created_at: '2008-06-17 17:25:33'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Physical object', fr: 'Objet physique', it: 'Oggetto fisico', nl: 'fysiek object', pt: 'Objeto tridimensional', sl: 'Fizični objekt' }
  QubitTerm_218:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '209'
    rgt: '210'
    created_at: '2008-06-17 17:25:42'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Aufbewahrung, en: 'Physical storage', fr: 'Conservation matérielle', it: 'Deposito fisico', nl: 'Fysieke opslag', pt: Depósito, sl: 'Fizično skladišče' }
  QubitTerm_219:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '211'
    rgt: '212'
    created_at: '2008-06-17 17:26:06'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Medientyp, en: 'Media type', fr: 'Type de support', it: 'Tipo di media', nl: Bestandsformaat, pt: 'Tipo de suporte', sl: Medij }
  QubitTerm_220:
    taxonomy_id: QubitTaxonomy_11
    class_name: QubitTerm
    lft: '213'
    rgt: '214'
    created_at: '2008-06-17 17:26:06'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Open Information Management Toolkit', fr: 'Outil ouvert de gestion de l''information', it: 'Strumento aperto di gestione delle informazioni Qubit', nl: 'Open Information Management Toolkit', sl: 'Odprto informacijsko orodje za upravljanje' }
  QubitTerm_223:
    taxonomy_id: QubitTaxonomy_7
    class_name: QubitTerm
    lft: '219'
    rgt: '220'
    created_at: '2008-07-16 06:56:30'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Conservation note', fr: 'Note de conservation', it: 'Nota sulla conservazione', pt: 'Nota de conservação', sl: 'Opombe konservacije' }
  QubitTerm_224:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '221'
    rgt: '222'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Architectural drawing', fr: 'Dessin d''architecture', it: 'Disegni architettonici', pt: 'Desenho arquitetônico', sl: 'Arhitekturni načrt' }
  QubitTerm_225:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '223'
    rgt: '224'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Cartographic material', fr: 'Document cartographique', it: 'Materiale cartografico', pt: 'Material cartográfico', sl: 'Kartografsko gradivo' }
  QubitTerm_226:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '225'
    rgt: '226'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Graphic material', fr: 'Document graphique', it: 'Materiale grafico', pt: 'Material gráfico', sl: 'Grafični material' }
  QubitTerm_227:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '227'
    rgt: '228'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Moving images', fr: 'Images animées', it: 'Immagini in movimento', pt: 'Imagens em movimento', sl: 'Gibljive slike' }
  QubitTerm_228:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '229'
    rgt: '230'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Multiple media', fr: Multimédia, it: 'Media molteplici', pt: 'Mútiplos suportes', sl: 'Mnogovrstni medij' }
  QubitTerm_229:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '231'
    rgt: '232'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Object, fr: Objet, it: Oggetto, pt: 'Objeto tridimensional', sl: Objekt }
  QubitTerm_230:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '233'
    rgt: '234'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Philatelic record', fr: 'Document philatélique', it: 'Documentazione filiatelica', pt: 'Documento filatélico', sl: 'Filatelističen zapis' }
  QubitTerm_231:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '235'
    rgt: '236'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Sound recording', fr: 'Enregistrement sonore', it: 'Registrazione sonora', pt: 'Documento sonoro', sl: 'Zvočni zapis' }
  QubitTerm_232:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '237'
    rgt: '238'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Technical drawing', fr: 'Dessin technique', it: 'Disegno tecnico', pt: 'Desenho técnico', sl: 'Tehnični načrt' }
  QubitTerm_233:
    taxonomy_id: QubitTaxonomy_20
    class_name: QubitTerm
    lft: '239'
    rgt: '240'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Textual record', fr: 'Document textuel', it: 'Documentazione testuale', pt: 'Documento textual', sl: 'Besedilni zapis' }
  QubitTerm_238:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '249'
    rgt: '250'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Ausgabe, en: Edition, fr: Edition, sl: Izdaja }
  QubitTerm_239:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '251'
    rgt: '252'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: 'Physische Beschreibung', en: 'Physical description', fr: 'Description physique', sl: 'Fizični opis' }
  QubitTerm_240:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '253'
    rgt: '254'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Conservation, fr: Conservation, sl: Konzervacija }
  QubitTerm_241:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '255'
    rgt: '256'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: Begleitmaterial, en: 'Accompanying material', fr: 'Document d''accompagnement', sl: 'Povezani material' }
  QubitTerm_242:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '257'
    rgt: '258'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Publisher''s series', fr: Collection, sl: 'Izdajateljeve serije' }
  QubitTerm_243:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '259'
    rgt: '260'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { de: 'Alphanumerische Bezeichnungen', en: 'Alpha-numeric designations', fr: 'Désignations alpha-numériques', sl: 'Alfanumerična oznaka' }
  QubitTerm_244:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '261'
    rgt: '262'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: Rights, fr: Droits, sl: Pravice }
  QubitTerm_245:
    taxonomy_id: QubitTaxonomy_21
    class_name: QubitTerm
    lft: '263'
    rgt: '264'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'General note', fr: 'Note générale', sl: 'Splošne opombe' }
  QubitTerm_246:
    taxonomy_id: QubitTaxonomy_22
    class_name: QubitTerm
    lft: '265'
    rgt: '266'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Variations in title', fr: 'Variations de titre', sl: 'Variacije naslova' }
  QubitTerm_247:
    taxonomy_id: QubitTaxonomy_22
    class_name: QubitTerm
    lft: '267'
    rgt: '268'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Source of title proper', fr: 'Source du titre propre', sl: 'Vir pravilnega naslova' }
  QubitTerm_248:
    taxonomy_id: QubitTaxonomy_22
    class_name: QubitTerm
    lft: '269'
    rgt: '270'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Parallel titles and other title information', fr: 'Informations sur les titres parallèles et autre titre', sl: 'Vzporedni naslov in druge informacije o naslovu' }
  QubitTerm_249:
    taxonomy_id: QubitTaxonomy_22
    class_name: QubitTerm
    lft: '271'
    rgt: '272'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Continuation of title', sl: 'Kontinuiteta naslova' }
  QubitTerm_250:
    taxonomy_id: QubitTaxonomy_22
    class_name: QubitTerm
    lft: '273'
    rgt: '274'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Statements of responsibility', fr: 'Mentions de responsabilité', sl: 'Navedba odgovornosti' }
  QubitTerm_251:
    taxonomy_id: QubitTaxonomy_22
    class_name: QubitTerm
    lft: '275'
    rgt: '276'
    created_at: '2008-11-10 15:43:20'
    updated_at: '2009-03-03 14:30:15'
    source_culture: en
    name: { en: 'Attributions and conjectures', fr: 'Attributions et conjectures', sl: 'Pripisovanja in domneve' }